@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  background-image: url("/react-todo-app/pexels-pixabay-268349.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Architects Daughter";
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem;
}
